[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
hypercorn = {extras = ["h3", "uvloop"], version = "*"}
mercadopago = "*"
httpx = {extras = ["brotli", "http2"], version = "*"}
# msgpack-asgi = "*"
# brotli-asgi = "*"
# google-cloud-firestore = "*"
fastapi-crudrouter = "*"
fastapi-users = {extras = ["tortoise-orm"], version = "*"}

[dev-packages]
flake8 = "*"
mypy = "*"
pycodestyle = "*"
black = "*"
pylint = "*"
bandit = "*"
pylama = "*"
pydocstyle = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
